<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinervAI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='minervaiLogo.png')}}"
    />
  </head>
  <body>
    <div class="home"><a href="/">Home</a></div>
    <header>
      <h1>MinervAI</h1>
    </header>

    <div class="description-wrapper">
      <p class="description">Your AI Study Assistant :&#41</p>
    </div>
    
    <article>
      <p>
        MinervAI, named after the roman Goddess of wisdom Minerva, is an
        intelligent companion designed to enhance the reading experience. By
        leveraging advanced AI models (Gemini API), this tool helps students
        engage with their reading assignments more effectively. It offers
        personalized assistance in summarizing, quizzing, and explaining complex
        concepts, turning passive reading into an interactive learning
        experience.
      </p>
    </article>
  </body>
    <footer>
    <div class="footer-left">
      <a href="/about">About</a>
    </div>
    <div class="footer-right">
      &copy; 2025 MinervAI
    </div>
  </footer>
</html>
