<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinervAI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    <nav class = "navbar">
      <ul class ="nav-links">
          <li><a href="{{ url_for('home')}}"> Home </a></li>
          <li><a href="/summary"> Summary </a></li>
          <li><a href="{{ url_for('static', filename='flashcards.html')}}"> Flashcards </a><li>
          <li><a href="{{ url_for('static', filename='quizzes.html')}}"> Quizzes </a><li>
      </ul>
  <nav>
    <header>
      <h1>MinervAI</h1>
    </header>
    {% if gemini_response %}
    <section id="summaries">
      <h2>Here is a summary of your module</h2>
      <article>{{ gemini_response | safe }}</article>
    </section>
    {% endif %}
  </body>
</html>